/* btn-4 */

.btn-4 {
  scale: 0.5;
  --width: 160px;
  --height: 64px;
  --tooltip-height: 40px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #000;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: absolute;
  text-align: center;
  border-radius: 32px;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-4::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 16px;
  color: #111;
  border-radius: 6px;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.btn-4::after,
.btn-4::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.btn-4 .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-4 .button-wrapper,
.btn-4 .text,
.btn-4 .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.btn-4 .text {
  top: 0;
}

.btn-4 .text,
.btn-4 .icon {
  transition: top 0.5s;
}

.btn-4 .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-4 .icon svg {
  width: 24px;
  height: 24px;
}

.btn-4:hover {
  background: #8f44fd;
}

.btn-4:hover .text {
  top: -100%;
}

.btn-4:hover .icon {
  top: 0;
}

.btn-4:hover:before,
.btn-4:hover:after {
  opacity: 1;
  visibility: visible;
}

.btn-4:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.btn-4:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-5:hover .outline {
  opacity: 1;
}
.btn-5:hover .outline::before {
  animation-play-state: running;
}

.resume-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
